/* Reset css */

* {
    margin: 0;
    padding: 0;
}



a {
    font-style: normal;
    text-decoration: none;
    color: white;
    cursor: pointer;
}





/* Variables Css */

:root {
    --bgcolor-base: #000000;
    --bgcolor-primary: #121212;
    --bgcolor-gray: #242424;
    --tcolor-base: #a7a7a7;
    --tcolor-light: #ffffff;
    --tcolor-dark: #000000;
    --bg-height: calc(100% - 16px);
    --bg-width: calc(100% - 16px);

}



body {
    color: var(--tcolor-base);
    font-family: Arial, Helvetica, sans-serif;
    width: var(--bg-width);
    height: var(--bg-height);
    padding: 8px;
    background-color: var(--bgcolor-base);
}

.body {
    display: flex;
    height: calc(100% - 64px);
    width: var(--bg-width);
}

.frame {
    border-radius: 8px;
}


.light-text {
    color: var(--tcolor-light);
}

.label-text {
    font-weight: 600;
    font-size: 20px;
}

.base-text {
    color: var(--tcolor-base);
}

ul {
    list-style: none;
}



.button {
    width: 80px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    display: block;
    border: 1px solid var(--tcolor-base);
    border-radius: 6px;
}

.button:hover {
    border-color: var(--tcolor-light);
    transform: scale(1.04);
}

.content__header {
    width: 100%;
    /* position: fixed; */
    min-height: 64px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #242424;
    /* border-radius: 20px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.list {
    width: calc(100% - 64px);
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    /* align-items: center; */
}


/* 
form {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

form>input {
    margin-bottom: 8px;
    padding: 4px;
} */

/* CSS form */

.form-input {
    display: flex;
    flex-direction: column;
    max-width: 444px;
    min-width: 300px;
    margin: auto;
    justify-content: center;
}

.form-input>input {
    padding: 8px;
    margin: 4px 0;
    width: 100%;
}

.form-input>p {
    display: block;
    padding: 8px;
}

.form-input>input[type=submit] {
    max-width: 30%;
    /* padding: 6px; */
    margin: auto;
    margin-top: 4px;
    /* padding-block: ; */
    /* appearance: none; */
    box-sizing: content-box;
    /* padding-block: 0px; */
}